<br>
<br>
<div class="container-show">
  <div class="container-photo">
    <%= image_tag(@celebrity.photo, class: "img-show" ) %>
  </div>


  <div class="container-info-text">
    <h3><%= @celebrity.full_name %>
      <% if current_user.wishlisted_celebrity?(@celebrity) %>
        <%= link_to celebrity_wishlist_path(celebrity_id: @celebrity, id: @wishlist), controlller: :wishlists, method: :delete do %><i class="fas fa-heart black"></i><% end %>
      <% else %>
      <%= link_to celebrity_wishlists_path(@celebrity), method: :post do %><i class="far fa-heart black"></i><% end %>
      <% end %>
    </h3>
    <br>
    <p><%= @celebrity.gender %></p>
    <p><%= @celebrity.date_of_birth.strftime("%F") %></p>

    <div class="tags-container">
      <% @celebrity.tags.each do |tag| %>
        <div class="celebrity-tags">
          <h5><span class="badge badge-secondary"><%= tag.name %></span></h5>
        </div>
      <% end %>
      <div class="celebrity-tags">
        <div class="badge badge-warning" >
          <%= link_to new_celebrity_celebrity_tag_path(@celebrity) do %>
            <i class='fas fa-plus-circle'></i> Tag
          <% end %>
        </div>
      </div>
    </div>

    <%= render 'bookings/form', booking: @booking%>

  </div>
  <div class="container-map">
    <div
      id="map"
      style="width: 400px;
      height: 565px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key=<%= ENV['MAPBOX_API_KEY'] %>
    ></div>
  </div>

</div>


<%= link_to "Add Tags", new_celebrity_celebrity_tag_path(@celebrity) %>






