<h1><%= @celebrity.full_name %></h1>
<%= image_tag(@celebrity.photo) %>
<h3>Information</h3>
<ul>
  <li>Gender | <%= @celebrity.gender %></li>
  <li>Birthday | <%= @celebrity.date_of_birth.strftime("%F") %></li>
  <li><%= @celebrity.description %></li>
</ul>

<%= render 'bookings/form', booking: @booking %>

