<br>
<br>
<div class="container-show">

  <div class="container-photo">
    <%= image_tag(@celebrity.photo, class: "img-show" ) %>
  </div>


  <div class="container-info-text">
    <h3><%= @celebrity.full_name %></h3>
    <br>
    <p><%= @celebrity.gender %></p>
    <p><%= @celebrity.date_of_birth.strftime("%F") %></p>
    <p><%= @celebrity.description %></p>
    <%= render 'bookings/form', booking: @booking %>
  </div>
  <div class="container-map">
    <div class="map"
      id="map"
      style="width: 400px;
      height: 400px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key=<%= ENV['MAPBOX_API_KEY'] %>
    ></div>
  </div>

</div>

<%= link_to "Add Tags", new_celebrity_celebrity_tag_path(@celebrity) %>






