

<div class="form-category">
  <%= simple_form_for [@celebrity, @booking] do |f| %>
    <h3>Rate per hour:</h3> <h2><%= number_to_currency(@celebrity.rate_per_hour) %></h2>
    <%= f.input :duration %>
    <%= f.input :booking_date, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.submit %>
  <% end %>
</div>
