<div class="mt-3">
  <div class="wishlist-content d-flex">
    <%= render 'card' %>
    <div class="wishlist-ad">
      <div class="card">
          <div class="promo">
            <p class="mt-3">Sale</p>
          </div>
          <%= image_tag(@celebrity.photo, class: "card-img") %>
          <div class="card-trip-infos">
            <div>
              <h2><%= @celebrity.full_name %></h2>
              <p><%= @celebrity.description %></p>
            </div>
            <h2 class="card-trip-pricing mr-0">$<%= @celebrity.rate_per_hour - 10 %>
            <h2 class="card-trip-pricing line-through">$<%= @celebrity.rate_per_hour %></h2>
          </div>
          <button type="button" class="btn btn-secondary">
            <%= link_to "Book me!", celebrity_path(@celebrity)%></button>
        </div>
      </div>
    </div>
  </div>
</div>
